<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Assuming you have a valid path to your CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cyberPunk.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allWords.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allWordsMobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchBar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admi.css') }}">
    <script src="https://kit.fontawesome.com/0225e86616.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Tu Admi Hai</title>
</head>
<body>
    <div class="title">Bhai.. Tu Admi Hai!.</div>
    <div class="mainData">
        <div class="container">
            <div class="accessNumbers">
                <div class="buttonStylei dataDate">DATE</div>
                <div class="buttonStylei accessCount">HITS</div>
            </div>
            {% for dataDate, accessCount in admiData.items() %}
            <div class="accessNumbers">
                <div class="thisWord dataDate">{{ dataDate }}</div>
                <div class="thisWord accessCount">{{ accessCount }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>