<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Words</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Assuming you have a valid path to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cyberPunk.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allWords.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allWordsMobile.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="title">GRE Words</div>
    <div class="container">
        <div class="prevButton webButtons" id="prevButton" onclick="prevButtonClick()"><</div>
        <section class="cardContainer shot">
            <div class="videoContainer boxContainer">
                <div class="currentVideo"></div>
                <div class="movieName">movieName</div>
                <video id="currentVideoLink" class="currentVideoLink" controls autoplay></video>
                <div class="subtitleData poppingBox">subtitleData</div>
            </div>
            <div class="card boxContainer">
                <div class="textData">
                    <h2 class="currentWord">currentWord</h2>
                    <div class="currentMeaning">currentMeaning</div>
                </div>
            </div>
        </section>
        <div class="nextButton webButtons" id="nextButton" onclick="nextButtonClick()">></div>

        <div class="mobileButtons">
            <div class="prevButton" id="prevButton" onclick="prevButtonClick()">PREV</div>
            <div class="nextButton" id="nextButton" onclick="nextButtonClick()">NEXT</div>
        </div>
    </div>

<script>
    var myData = {{ data | tojson | safe }};
    var allData = {{ allData | safe }};
    var initialValue = 0;
    var maxValue = allData.length - 1; // Assuming allData is an array

    // Initialize data
    var currentWordElement = document.querySelector('.currentWord');
    var currentMeaningElement = document.querySelector('.currentMeaning');
    var currentVideoLinkElement = document.querySelector('.currentVideoLink');
    var currentMovieNameElement = document.querySelector('.movieName');
    var currentSubtitleDataElement = document.querySelector('.subtitleData');

    var currentIndex = 1;
    var currentWord = allData[initialValue];
    var currentData = myData[currentWord];
    var totalClips = 0;
    updateData();
    function updateData() {
        currentWordElement.textContent = currentWord;
        currentMeaningElement.textContent = currentData.meaning;
        videoURL = currentData.clipData['1'].videoURL;
        currentMovieNameElement.textContent = currentData.clipData['1'].videoInfo;
        // currentSubtitleDataElement.textContent = currentData.clipData['1'].subtitle;
        currentSubtitleDataElement.innerHTML = `${currentData.clipData['1'].subtitle.toUpperCase().replace(new RegExp(currentWord, 'gi'), `<span class="currentText">${currentWord.toUpperCase()}</span>` )}`;

        totalClips = currentData.clipsFound;
        var currentVideoContainer = document.querySelector('.currentVideo');
        currentVideoContainer.innerHTML = '';
        for (let i = 1; i <= totalClips; i++) {
            var videoNumberDiv = document.createElement('div');
            if (i==1){ videoNumberDiv.classList.add('videoNumber', 'boxContainer');
            } else { videoNumberDiv.classList.add('videoNumber', 'poppingBox'); }
            videoNumberDiv.setAttribute('value', i);
            videoNumberDiv.textContent = `Video ${i}`;
            videoNumberDiv.addEventListener('click', function() {
                // Get the value of the clicked div and set it as the current index
                currentIndex = parseInt(this.getAttribute('value'));
                changeVideoClips(currentIndex);
            });
            currentVideoContainer.appendChild(videoNumberDiv);
        }
        currentVideoLinkElement.setAttribute("src", videoURL);
        currentIndex = 1;
        document.getElementsByClassName('currentVideoLink')[0].addEventListener('ended', myHandler, false);
    }

    function changeVideoClips(currentIndex) {
        currentVideoLinkElement.setAttribute("src", currentData.clipData[currentIndex.toString()].videoURL);
        currentMovieNameElement.textContent = currentData.clipData[currentIndex.toString()].videoInfo
        currentSubtitleDataElement.innerHTML = `${currentData.clipData[currentIndex.toString()].subtitle.toUpperCase().replace(new RegExp(currentWord, 'gi'), `<span class="currentText">${currentWord.toUpperCase()}</span>` )}`;
        var videoNumberDivs = document.querySelectorAll('.videoNumber');
        videoNumberDivs.forEach(function(videoNumberDiv) {
            var divValue = parseInt(videoNumberDiv.getAttribute('value'));
            if (divValue === currentIndex) {
                videoNumberDiv.classList.add('boxContainer');
                videoNumberDiv.classList.remove('poppingBox');
            } else {
                videoNumberDiv.classList.add('poppingBox');
                videoNumberDiv.classList.remove('boxContainer');
            }
        });
    }
    
    function myHandler(e) {
        if (totalClips != currentIndex){
            console.log("Here");
            currentIndex += 1;
            changeVideoClips(currentIndex);

        } else {
            console.log("Ther");
            // document.getElementsByClassName('currentVideoLink')[0].removeEventListener('ended', myHandler, false);
        }
    }

    function nextButtonClick() {
        console.log("Here")
        if (initialValue < maxValue) {
            initialValue++;
            currentWord = allData[initialValue];
            currentData = myData[currentWord];
            updateData();
        }
    }

    function prevButtonClick() {
        if (initialValue > 0) {
            initialValue--;
            currentWord = allData[initialValue];
            currentData = myData[currentWord];
            updateData();
        }
    }

    // document.getElementById('nextButton').addEventListener('click', nextButtonClick);
    // document.getElementById('prevButton').addEventListener('click', prevButtonClick);
</script>

</body>
</html>
