<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Words</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Assuming you have a valid path to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cyberPunk.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allWords.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allWordsMobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchBar.css') }}">
    <script src="https://kit.fontawesome.com/0225e86616.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="" srcset="" onclick="goToYouTube()">
    <div class="title">GRE Words</div>
    <div class="searchBar">
        <input type="text" class="searchInput" onkeyup="search()" placeholder="Search for.." autofocus />
        <ul class="allWords"></ul>
    </div>
    <div class="container">
        <div class="prevButton webButtons" id="prevButton" onclick="prevButtonClick()"><</div>
        <section class="cardContainer shot">
            <div class="videoContainer boxContainer">
                <div class="movieName">movieName</div>
                <video id="currentVideoLink" class="currentVideoLink" controls autoplay muted controlslist="nofullscreen"></video>
                <div class="videoControls">
                <div class="toggleMute" id="toggleMute" onclick="toggleMute()"><i class="fa-solid fa-volume-xmark"></i>&nbsp;Not Mute</div>
                <div class="currentVideo"></div>
                <div class="togglePlay" id="togglePlay" onclick="togglePlayPause()"><i class="fa-solid fa-pause"></i>&nbsp;Not Play</div>
                </div>
                
                <div class="subtitleData poppingBox">subtitleData</div>
            </div>
            <div class="card boxContainer">
                <div class="textData">
                    <div class="currentIndexDiv">
                        <div class="indexNow"></div> / <div class="indexMax"></div>
                    </div>
                    <h2 class="currentWord">currentWord</h2>
                    <div class="currentMeaning">currentMeaning</div>
                </div>
            </div>
        </section>
        <div class="nextButton webButtons" id="nextButton" onclick="nextButtonClick()">></div>

        <div class="mobileButtons">
            <div class="prevButton" id="prevButton" onclick="prevButtonClick()">PREV</div>
            <div class="nextButton" id="nextButton" onclick="nextButtonClick()">NEXT</div>
        </div>

    </div>
    <h1 class="temp">DISCLAIMER!</h1>
    <h3 class="temp">This is just a test site to show what path I am on, so give me some inputs if you want to on "thatinsaneguy28@gmail.com" or the reddit post.</h3>
    <h3 class="temp">This is just a test app, I own none of the content. If someone needs the credit then contact through the logo above.</h3>

    <script>
        function toggleMute() {
            var video = document.getElementById("currentVideoLink");
            var toggleButton = document.getElementById("toggleMute")
            if (video.muted) {
                video.muted = false;
                toggleButton.innerHTML = '<i class="fa-solid fa-volume-high"></i>&nbsp;Mute';
            } else {
                video.muted = true;
                toggleButton.innerHTML = '<i class="fa-solid fa-volume-xmark"></i>&nbsp;Not Mute';
            }
        }
        function togglePlayPause() {
            var video = document.getElementById("currentVideoLink");
            var toggleButton = document.getElementById("togglePlay")
            if (video.paused) {
                video.play();
                toggleButton.innerHTML = '<i class="fa-solid fa-pause"></i>&nbsp;Not Play';
            } else {
                video.pause();
                toggleButton.innerHTML = '<i class="fa-solid fa-play"></i>&nbsp;Play';
            }
        }
    </script>

<script>
    var myData = {{ data | tojson | safe }};
    var allData = {{ allData | safe }};
    var initialValue = 0;
    var maxValue = allData.length - 1; // Assuming allData is an array

    // Initialize data
    var currentWordElement = document.querySelector('.currentWord');
    var currentMeaningElement = document.querySelector('.currentMeaning');
    var currentVideoLinkElement = document.querySelector('.currentVideoLink');
    var currentMovieNameElement = document.querySelector('.movieName');
    var currentSubtitleDataElement = document.querySelector('.subtitleData');

    var currentIndexNowElement = document.querySelector('.indexNow');
    var currentIndexMaxElement = document.querySelector('.indexMax');
    var allWordsElements = document.querySelector('.allWords');
    for (var i = 0; i < allData.length; i++) {
        var listItem = document.createElement('li');
        listItem.textContent = allData[i]; // You can customize this based on your data structure
        listItem.classList.add('thisWord');
        allWordsElements.appendChild(listItem);
    }
    

    var Div = 1;
    var currentWord = allData[initialValue];
    var currentData = myData[currentWord];
    var totalClips = 0;
    updateData();
    function updateData() {
        currentWordElement.textContent = currentWord;
        currentMeaningElement.textContent = currentData.meaning;
        videoURL = currentData.clipData['1'].videoURL;
        currentMovieNameElement.textContent = currentData.clipData['1'].videoInfo;
        // currentSubtitleDataElement.textContent = currentData.clipData['1'].subtitle;
        currentSubtitleDataElement.innerHTML = `${currentData.clipData['1'].subtitle.toUpperCase().replace(new RegExp(currentWord, 'gi'), `<span class="currentText">${currentWord.toUpperCase()}</span>` )}`;

        totalClips = currentData.clipsFound;
        var currentVideoContainer = document.querySelector('.currentVideo');
        currentVideoContainer.innerHTML = '';
        for (let i = 1; i <= totalClips; i++) {
            var videoNumberDiv = document.createElement('div');
            if (i==1){ videoNumberDiv.classList.add('videoNumber', 'boxContainer');
            } else { videoNumberDiv.classList.add('videoNumber', 'poppingBox'); }
            videoNumberDiv.setAttribute('value', i);
            videoNumberDiv.textContent = `Viedo ${i}`;
            videoNumberDiv.addEventListener('click', function() {
                // Get the value of the clicked div and set it as the current index
                Div = parseInt(this.getAttribute('value'));
                changeVideoClips(Div);
            });
            currentVideoContainer.appendChild(videoNumberDiv);
        }

        currentIndexNowElement.textContent = initialValue+1;
        console.log(maxValue, "maxValue");
        currentIndexMaxElement.textContent = maxValue+1;


        currentVideoLinkElement.setAttribute("src", videoURL);
        Div = 1;
        document.getElementsByClassName('currentVideoLink')[0].addEventListener('ended', myHandler, false);
    }

    function changeVideoClips(Div) {
        currentVideoLinkElement.setAttribute("src", currentData.clipData[Div.toString()].videoURL);
        currentMovieNameElement.textContent = currentData.clipData[Div.toString()].videoInfo
        currentSubtitleDataElement.innerHTML = `${currentData.clipData[Div.toString()].subtitle.toUpperCase().replace(new RegExp(currentWord, 'gi'), `<span class="currentText">${currentWord.toUpperCase()}</span>` )}`;
        var videoNumberDivs = document.querySelectorAll('.videoNumber');
        videoNumberDivs.forEach(function(videoNumberDiv) {
            var divValue = parseInt(videoNumberDiv.getAttribute('value'));
            if (divValue === Div) {
                videoNumberDiv.classList.add('boxContainer');
                videoNumberDiv.classList.remove('poppingBox');
            } else {
                videoNumberDiv.classList.add('poppingBox');
                videoNumberDiv.classList.remove('boxContainer');
            }
        });
    }
    
    function myHandler(e) {
        if (totalClips != Div){
            console.log("Here");
            Div += 1;
            changeVideoClips(Div);

        } else {
            console.log("Ther");
            // document.getElementsByClassName('currentVideoLink')[0].removeEventListener('ended', myHandler, false);
        }
    }

    function nextButtonClick() {
        console.log("Here")
        if (initialValue < maxValue) {
            initialValue++;
            currentWord = allData[initialValue];
            currentData = myData[currentWord];
            updateData();
        }
    }

    function prevButtonClick() {
        if (initialValue > 0) {
            initialValue--;
            currentWord = allData[initialValue];
            currentData = myData[currentWord];
            updateData();
        }
    }

    function goToYouTube() {
        window.open('https://www.youtube.com/@ThatInsaneGuy', '_blank');
    }

</script>
<script>
    // SEARCH BAR
    var mainData = {{ data | tojson | safe }};
    var allData = {{ allData | safe }};
    function search() {
        let input = document.querySelector(".searchInput").value.toLowerCase()
        let list = document.querySelectorAll("ul > li")
        let noItemsText = document.querySelector(".noItemsText")
        let displayCounter = 0

        list.forEach((lang) => {
            if ((lang.innerHTML.toLowerCase()).includes(input, 0) === false){lang.style.display = "none";} 
            else {lang.style.display = "list-item";}
            if (lang.style.display === "none"){displayCounter++;}
        });
        if (displayCounter === list.length){
            list.innerHTML = "No items to display";
            noItemsText.style.display = "initial"
        } else { noItemsText.style.display = "none" }
    }
</script>

</body>
</html>
