.container{
    display: flex;
    flex-direction: column;
}

.accessNumbers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}

.accessNumbers div {
    margin: 1.5vh;
    width: 30%;
}

.thisWord {
    color: #d0d0d0;
    text-align: center;
    font-weight: 400;
}